body {
  background:#1F2B33;
}

div.container {
  background: #ECECEC;
}

div#header {
  background: #E5ECF9 none repeat scroll 0 0;
}

#nav {
  background: #0C1216;
  position:relative;
}

#nav ul, #nav ul li {
  float:left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
}
#nav ul li.first-item {
  padding-left: 40px;
}
#nav ul li.last-item {
  position: absolute;
  right:0;
  padding-right: 40px;
}
a {
  text-decoration:none;
  color: #0077CC;
}
a:hover {
  text-decoration:underline;
}

#nav ul li a {
  color:#ECE9D8;
  display:block;
  float:left;
  font-size:16px;
  font-weight:bold;
  padding-bottom:5px;
  padding-right:30px;
  padding-top:5px;
  text-decoration:none;
}

#nav ul li a:hover {
  color:#F2EBC7;
  text-decoration:underline;
}


div.code {
  background-color: #E6FFCC;
  overflow: auto;
  border-style: solid;
  border-color: #666;
  border-width: 1px;
  font-size:1.1em;
  max-height:1000px;
}

div.code table {
  margin: 0;
}

.grey {
  color: #676767;
}

div.grey-panel {
  background-color: #cccccc;
}
.codetext {
  height : 400px;
  padding : 5px;
  width: 700px;
}

.solution_block {
  height: 60px;
}

.puzzle_block {
  height: 130px;
  padding: 0 0 0 1.1em;
}
.count_button {
  background: #1F2B33 none repeat scroll 0 0;
  color: white;
}

.status {
  text-align: center;
  padding: 4px 0;
}
.count-post {
  display: block;
  font-weight: bold;
  font-size: 1.4em;
  margin: -3px;
}
.stats_container {
  float: left;
  margin-right: 8px;
}
.blurb {
  max-height: 70px;
  margin 0;
  padding: 0 0 5px;
  overflow: hidden;
}
.full_blurb {
  margin 0;
  padding: 0 0 5px;
}

.blurb_text {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.errorlist {
  padding-left: 20px;
  color: #FF0000;
  background: #FFFFCC url(http://www.b-list.org/media/admin/img/admin/icon_alert.gif) no-repeat scroll left top;
  border-color: #FF0000;
  border-style: solid;
  border-width: border-width;
  list-style: none;

}

#header {
  margin: 0 0 0 1.2em;
}
.headline {
  margin: 0 1.2em .8em 1.2em;
}
#footer {
  background: #0C1216;
  position:relative;
  height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

#footer a {
  color: white;
  vertical-align: middle;
}

.tab_choices_container h2 {
  font-size: 170%;
  margin-bottom: 0;
  padding: 0 0 0 .5em;
  font-family: Trebuchet MS,Helvetica,sans-serif;
  color: #ECE9D8;
}

#solution_list {
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.tab_choices a {
  text-decoration: none;
}

.tab_choices li {
  font-weight: bold;
  background: white;
  color: #0077CC;
  float: right;
  padding: 2px 6px 0 2px;
  z-index:100;
  display: inline;
  margin: 0 8px 0 0;
}

li.tabdrop {
  background: white url(/static/images/droparrowgray.gif) no-repeat scroll right center;
  margin-left: 3px;
  padding: 2px 21px 1px 5px;
}

div.tab_choices_container {
  border-bottom: 1px solid #666666;
  background: #0C1216 none repeat scroll 0 0; 
  margin: 0;
  position: relative;
}

.tab_choices {
  display: inline;
  list-style-position: outside;
  list-style-type: none;
  white-space: nowrap;
  margin-bottom: 0px;
  right: 7px;
  position: absolute;
  bottom:-3px;
}

#sol_title {
  padding-left: 40px;
}

.hidden {
  display:none;
}

.tab_choices ul {
  color: #0077CC;
  height: 0px;
  right: -18px;
  list-style-type: none;
  white-space: nowrap;
  position: absolute;
}

.tab_choices ul li {
  color: #0077CC;
  display: block;
  width: 100px;
  float: left;
  clear:both;
}
.tagline {
  color: #888888;
  font-size: small;
}

#overlay {
  background: grey;
  display: none;
  opacity: 0.7;
  top: 0;
  width:100%;
  height: 100%;
  position:fixed;
  z-index:1000;
}
