# use glob syntax.
syntax: glob
*.pyc
*~
*.bak
*.off
*.old
.DS_Store

# eclipse conf file
.settings
.classpath
.project
.manager

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# release folder
release
django.zip
pygments.zip