<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/code.css" />
    <title>{% block title %}Puzzles{% endblock %}</title>
  </head>

  <body>
    <div id="top_container">
      {% block top %}
        {%if user%}
        <a class="novisit" href="{{sign_out}}">Sign out</a>
        {% else %}
        <a class="novisit" href="{{sign_in}}">Sign in</a>
        {%endif%}
      {% endblock %}
    </div>
    <div id="main_container">
      <div id="sidebar">
          {% block sidebar %}
          <ul>
            <li><a href="{% url puzzles.views.all_puzzles %}">View All Puzzles</a></li>
            <li><a href="{% url puzzles.views.create_puzzle %}">Create New Puzzle</a></li>
          </ul>
          {% endblock %}
      </div>

      <div id="content">
          {% block content %}{% endblock %}
      </div>
      <div id="comments">
          {% block comments %}{% endblock %}
        </div>
    </div>
  </body>
</html>

