<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />    
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/code.css" />
    <!--[if IE]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <title>{% block title %}Puzzles{% endblock %}</title>
  </head>

  <body>
    <div class="showgrid container">
      <div id="header" class="span-22 last prepend-top append-bottom">
        <a href="/">
          <h1>Idiomatic Fu</h1>
        </a>
        <h3 class="alt">Show Off Your Hacker Tribe's Kung-fu</h3>
      </div>
      <hr />

      <div id="nav" class="span-24 last">
        <ul>
          <li class="first-item"><a href="{% url puzzles.views.create_puzzle %}">Create New Puzzle</a></li>
          <li><a href="{% url puzzles.views.all_puzzles %}">View All Puzzles</a></li>
          <li class="last-item">
          {% block top %}
            {%if user%}
            <a class="novisit" href="{{sign_out}}">Sign out</a>
            {% else %}
            <a class="novisit" href="{{sign_in}}">Sign in</a>
            {%endif%}
          {% endblock %}
          </li>
        </ul>
      </div>

      <hr />
      <div id="content" class="span-24 last">
          {% block content %}{% endblock %}
        <div id="comments" class="box">
          {% block comments %}{% endblock %}
        </div>
      </div>

      <div id="footer" class="span-24 last">
        <a href="mailto:idiomatic.fu@gmail.com"> Feedback </a> | 
      </div>

      <div class="span-6 last clear">
        <img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" border="0" />
      </div> 
      <div class="span-24 last" style="height:100px;" />
    </div>

    

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-8286297-2");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>

  </body>
</html>

