<div id="puzzle_list" class="span-24 last ">
  {% for p in puzzles %}
  <hr width="1px" background="#FFFFFF" />
  <div class="span-22 box last puzzle_block">
    <div class="stats_container span-3">
      <div class="count_button span-2 status">
        <span class="count-post">
          <strong>{{ p.solution_count }}</strong> 
        </span>
        solutions
      </div>      
    </div>

    <div class="summary span-18">
      <h3><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h3>
      <div class="blurb_text blurb">
        {{ p.description|safe }}
      </div>
      <span style="display:inline">
        <a href="{{ p.get_absolute_url }}">Read more</a>
      </span>
    </div>
  </div>  
  {% endfor %}
</div>
  
