{% extends "base.html" %}
{% load template_library %}

{% block title %} Puzzle: {{ puzzle.title }} {% endblock %}

{% block content %}
  {% include "puzzle_blurb.html" %}
  {% include "third_party.html" %}
<div class="span-24" id="solutions">
  <div id="submit_solution" class="box clear">
    <a href="{% url puzzles.views.create_solution puzzle.key.id %}">
      <img src="/static/images/submit_solution.png" />
    </a>
  </div>
  <div id="solution_list" class="span-24 last ">
    <div class="span-24 last tab_choices_container" >
      <div id="sol_title" class="span-6"><h2>Solutions</h2></div>
        <ul class="tab_choices">
          <li class="tabdrop">
            Filter By Programming Language
            <ul class="hidden dropchoices">
              {% for lang_key,p_lang in puzzle_langs %}
              <li><a class="ajax_order tabdrop" href="{% url puzzles.views.solutions_by_lang puzzle.key.id lang_key %}">{{ p_lang }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a class="ajax_order" href="{% url puzzles.views.solutions_by_votes puzzle.key.id %}">Votes</a></li>
          <li><a class="ajax_order" href="{% url puzzles.views.solutions_by_date puzzle.key.id %}">Most Recent</a></li>
        </ul>
      </div>
    </div>
    <div id="solutions_for_puzzle">
      {% show_solutions puzzle %} 
    </div>
</div>
<div id="overlay" />
<script type="text/javascript" src="/js/jquery-ui/js/jquery-1.3.2.min.js"></script>
<script>


  var flip = 0;
  $('.tabdrop').click(function() {
    $('.dropchoices').toggle(flip++ % 2 == 0);
  });

  $('.ajax_order').click(function() {
    $.get($(this).attr("href"), function(data) {
      $('#solutions_for_puzzle').html(data);
    }); 
    return false;
  });
  
</script>

{% endblock %}
