{% load template_library %}
  {% for s in solutions %}
    <hr width="1px" background="#FFFFFF" />
  <div class="span-22 box last solution_block">

    {% vote_widget s %}
    <div class="summary span-18 ">
      <h3><a href="{{ s.get_absolute_url }}">{{ s.title }}</a></h3>
    </div>

    <div class="span-22">
      <p class="tagline">
        submitted {{ s.posted|timesince }} ago by {{ s.author|default_if_none:"Anonymous" }} using {{ s.language_full_name }}
      </p>
    </div>
  </div>  

  {% endfor %}

