{% extends "base_with_comments.html" %}

{% block title %}{{ solution.title }}{% endblock %}

{% block content %}
  
  {% include "puzzle_desc.html" %}
  {% include "third_party.html" %}
<div class="span-24" id="solution">
  <hr style="height:2px;" />
  {% include "solution_desc.html" %}
  </div>
<div id="submit_solution" class="box clear">
  <a href="{% url puzzles.views.create_solution solution.puzzle.key.id %}">
    <img src="/static/images/submit_another_sol.png" />
  </a>
</div>

{% endblock %}

