<div class="span-22 box last solution_block">
  <div class="stats_container span-3">
    <div class="count_button span-2 status">
      <span class="count-post">
        <strong>placeholder</strong> 
      </span>
      votes 
    </div>      
  </div>

  <div class="summary span-18">
    <h3><a href="{{ solution.get_absolute_url }}">{{ solution.title }}</a></h3>
    <div class="blurb">
      solved in {{ solution.language }}
    </div>
  </div>
</div>  

{% include "third_party.html" %}

  <div id="solution_code" class="span-24 code">
    {{ solution.formatted_code|safe }}
  </div>

