<div id="submit_solution" class="box clear">
  <a href="{% url puzzles.views.create_solution puzzle_id %}">
    <img src="/static/images/submit_solution.png" />
  </a>
</div>
<div id="solution_list" class="span-24 last ">
  <div class="span-24 last tab_choices_container" >
    <div id="sol_title" class="span-6"><h2>Solutions</h2></div>
      <ul class="tab_choices">
        <li class="tabdrop">Filter By Programming Language</li>
        <li>Votes</li>
        <li>Most Recent</li>
      </ul>
  </div>

  {% for s in solutions %}
    <hr width="1px" background="#FFFFFF" />
  <div class="span-22 box last solution_block">
    <div class="stats_container span-3">
      <div class="count_button span-2 status">
        <span class="count-post">
          <strong>placeholder</strong> 
        </span>
        votes 
      </div>      
    </div>

    <div class="summary span-18">
      <h3><a href="{{ s.get_absolute_url }}">{{ s.title }}</a></h3>
      <div class="blurb">
        solved in {{ s.language }}
      </div>
      <span style="display:inline">
        <a href="{{ s.get_absolute_url }}">Read more</a>
      </span>
    </div>
  </div>  

  {% endfor %}
</div>
  
